package-lock.json merge=ours
yarn.lock merge=ours

# source code
*.js text eol=lf
*.json text eol=lf
*.txt text eol=lf

# git config
.gitattributes text eol=lf
.gitconfig text eol=lf
.gitignore text eol=lf

# misc config
.babelrc text eol=lf
.editorconfig text eol=lf
.env text eol=lf
.eslintrc eol=lf
*.yml text eol=lf

# Documentation
*.md text eol=lf
AUTHORS text eol=lf
LICENSE text eol=lf
